@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1> @ViewData["Title"]</h1>

<p>This is no longer the privacy page.</p>
<h1>Contact Us</h1>
<p>Please use the form below to contact us:</p>
<form>
    <!-- form fields go here -->
</form>

@section scripts{
<script>
    window.onload = function () {
        console.log("Contact page loaded.");
    }

</script>
}
